* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    display: none;
}

body {

    color: white;
    overflow-y: scroll;
    font-family: Arial, sans-serif;
    background-color: black
}

.navigation {
    height: 10%;
    width: 100%;
    display: flex;
    background-color: transparent;
    position: fixed;
    top: 20px;



}

.symbol {
    height: 100%;
    width: 35%;
    display: flex;
}

.symbol-icon {
    height: 50%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2px;
    margin-top: 5px;
}

.symbol-manner {
    height: 100%;
    width: 80%;
    font-size: 20px;
    font-weight: 700;
    color: white;
}

.under-manner {
    font-weight: 300;
}

.navi {
    height: 100%;
    width: 60%;

}

ul {
    display: flex;
    list-style-type: none;
    padding-top: 7px;
}


.navi a {
    text-decoration: none;
    padding: 20px 30px;
    color: white;
    font-size: 20px;
}

.navi a:hover {
    background-color: aliceblue;
    padding: 20px 30px;
    color: black;
}


.side-bar {
    height: 100%;
    width: 10%;
    text-align: right;
    font-size: 20px;
    padding-top: 3px;
    color: white;

}

.side-bar-item {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    padding: 5px;
    color: white;
    text-decoration: none;



}

.bi-rocket-takeoff {
    color: aliceblue;
    font-size: 30px;
    font-weight: 300;
}


#mySidebar {
    display: none;
    margin-right: 20px;
    font-size: 15px;
}

.side-bar-item:hover {
    background-color: aliceblue;
    padding: 5px;
    color: black;
    font-size: 20px;
}


.side-bar-button {
    height: 30px;
    width: 30px;
    background-color: transparent;
    color: white;
    font-size: 19px;
    border: none;
    border-color: black;
    transition-duration: 0.3s;
    padding-right: 50px;
    padding-bottom: 20px;
}

.section-1 {
    height: 100vh;
    width: 100vw;
    background-image: url(https://www.nasa.gov/sites/default/files/thumbnails/image/superbloodmoon.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.section-2 {
    height: 120vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: absolute;

}

.section-2-title {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    height: 10%;
    width: 100%;
    margin-top: 30px;
}

.section-2-container {
    height: 90%;
    width: 100%;
    display: flex;
    gap: 40px;
}

.section-2-item {
    height: 100%;
    width: 33%;
}

.section-2-img {
    height: 70%;
    width: 100%;
    margin: 0 30px;
}

.img1 {
    content: url(https://i.pinimg.com/564x/17/d0/cf/17d0cf0de0dbc9356cf8fd9c8251ac22.jpg);
}

.img2 {
    content: url(https://i.pinimg.com/564x/a0/7f/60/a07f6073d0fbd6d54361974cb3f5aa79.jpg);
}

.img3 {
    content: url(https://i.pinimg.com/564x/75/3a/5e/753a5e5c65141900d1bfe4bffce146b0.jpg);
}

.section-2-text {
    height: 10%;
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin-top: 40px;
}

.section-3 {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-4 {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

.section-4-title {
    height: 5%;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: white
}

.section-4-img {
    height: 95%;
    width: 100%;
    background-image: url(https://scontent-xsp1-2.xx.fbcdn.net/v/t1.15752-9/381053074_1011452686867029_3668821590303061372_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=ae9488&_nc_ohc=wdjgVIL17wkAX_5JsO4&_nc_ht=scontent-xsp1-2.xx&oh=03_AdRHFr4wq9Vp9sQjUgEL_GW0g88cXJ6olTBcbBTPm-WqPQ&oe=65353809);
    background-repeat: no-repeat;
    background-size: cover;
}

.footer {

    width: 100vw;

}

.footer-line {
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: grey;
    margin-bottom: 0;
    padding-top: 5px;
}

.footer-apps {
    display: flex;
    gap: 40px;
}

.fa-brands {
    color: white;
    font-size: 20px;
    padding-bottom: 10px;
}

.footer-main {
    height: 90%;
    width: 100%;
    background-image: url(https://scontent.fhan5-9.fna.fbcdn.net/v/t1.15752-9/372695619_649657283923814_2764950344392574399_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=ae9488&_nc_ohc=zCAMR2j3ntUAX_o_xff&_nc_ht=scontent.fhan5-9.fna&oh=03_AdT8hjrDx4BSl-5_BhMr7aVCdoLqG_IkxOnJ6f3C1tjKYw&oe=651D51C4);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 50px 20px;

}

.footer-title {
    height: 5%;
    width: 100%;
    font-size: 25px;
    font-weight: 600;
    color: white;
    padding-left: 15px;
    margin-bottom: 30px;
}


.footer-col-1 {
    height: 100%;
    width: 36%;
}

.footer-main1-box1 {
    height: 7%;
    width: 100%;
    display: flex;

}

.footer-main1-icon {
    height: 100%;
    width: 13%;
    display: flex;
    justify-content: center;
    font-size: 20px;

}

.bi-geo-alt-fill {
    padding-top: 5px;
}

.bi-telephone-fill {
    padding-top: 10px;
}

.bi-envelope {
    padding-top: 10px;
}

.footer-main1-infor1 {
    height: 100%;
    width: 70%;
    font-size: 16px;
    color: grey;
    padding-top: 5px;
}

.footer-main1-box2 {
    height: 10%;
    width: 100%;
    display: flex;
}

.footer-main1-infor2 {
    height: 100%;
    width: 70%;
    font-size: 16px;
    color: grey;
    padding-top: 5px;
}

.footer-main1-box3 {
    height: 7%;
    width: 100%;
    display: flex;
}

.footer-main1-infor3 {
    height: 100%;
    width: 70%;
    font-size: 16px;
    color: grey;
    padding-top: 5px;
}

.footer-col-2 {
    height: 100%;
    width: 37%;
}

.footer-main2-box {
    width: 100%;
    height: 25%;
    margin-top: 25px;
    padding-left: 15px;
}

.footer-main2-ques {
    height: 40%;
    width: 100%;
    font-size: 17px;
    font-weight: 600;
    color: rgb(182, 182, 182);
}

.footer-main2-ans {
    height: 45%;
    width: 100%;
    color: grey;
    font-weight: 400;

}

.footer-main2-date {
    height: 10%;
    width: 100%;
    color: grey;
}

.footer-col-3 {
    height: 100%;
    width: 38%;

}

.footer-main3-box {
    width: 100%;
    height: 27%;
    margin-top: 25px;
    padding-left: 15px;

}

.footer-main3-heading {
    display: flex;
    color: rgb(182, 182, 182);
}

.footer-main3-icon {
    height: 100%;
    width: 15%;
    color: whitesmoke;
}

.footer-main3-title1 {
    height: 100%;
    width: 50%;
    text-align: center;
    color: grey;
}

.footer-main3-title2 {
    height: 100%;
    width: 30%;
    color: grey;
}

.footer-main3-text {
    height: 70%;
    width: 100%;
    padding-left: 15%;
    color: grey;
}

.bi-lightning-charge-fill {
    color: yellow;
}

.fade {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.fade.in {
    opacity: 1;
}